*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wholenav{
    display: flex;
    top:0;
    background-color: black;
    padding: 20px;
    height: 40px;
    width: 100%;
    position: sticky;
    height: 100%;
    z-index: 999;
   
}
.head{  
    display: flex;
    width: 40%;
    height: 40px;
    
}
.vio-style{
    color: #B780FF;
}
.gradi-style-text{
    background: linear-gradient(to right, #7D7CF9, #C621E5 );
    -webkit-background-clip:  text;
    -webkit-text-fill-color: transparent;
}

.gradi-style-text2{
    background: linear-gradient(to right, #C621E5, #7D7CF9 );
    -webkit-background-clip:  text;
    -webkit-text-fill-color: transparent;
}

.gradi-style{
    background: linear-gradient(to right, #7D7CF9, #C621E5 );
 }
.logo{
    color:white;
    font-weight: 800;
    font-size: 30px;
    text-decoration: none;
    padding-top: 3px;
    padding-left: 4px;
}
.logo-img{
    margin-left: 0.5%;
}
nav a{
    text-decoration: none;
    color: white;
}
.navbar{
    position: absolute;
    right: 10%;
}
.navitem{
    display: inline;
    padding: 10px;
    font-size: 20px;
}
.sidebar{
    background-color: rgb(164, 61, 61);
    height: 100vh;
    padding: 20px;
    z-index: 1;
    position: absolute;
    display: none;
    flex-direction: column;
    right: 0%;
    top:0%;
    width: 30%;
}
.sidenavitem{
    padding: 10px;
    font-size: 20px;
}
.sidenavitem a{
    color: white;
}
.sidenavitem:hover{
    background-color: rgba(128, 128, 128, 0.559);
}

.navitem:hover{
    font-size: 22px;
    transition: 0.5s ease;
    text-decoration: underline;
    color: #B780FF;
}
.button{
    margin-left: 10px;
    font-size: 20px;
    border-radius: 60px;
    background-color: #39bb1f;
    border: 2px solid white;
    padding: 5px 20px  

}
.button2{
    width: fit-content;
    margin: 20px 0px;
    background-color: #39bb1f;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 60px;
}
.button2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.button2:hover{
    /* transition: 0.3s ease-in; */
    border: 5px solid white;
}
.button3{
    width: fit-content;
    margin: 20px 0px;
    background-color: #ffffff;
    padding: 5px 25px;
    font-size: 12px;
    border-radius: 20px;
}
.lan-page{
    width: 100vw;
    min-height: 400px;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-content: space-around;
    
}
.lan-page-child{
    position:absolute;
    text-align: center;
    top: 15%;
}
.lan-page-child h1{
    font-size: 60px;
}
.lan-page-child p{
    font-size: 25px;
    margin: 3%;

}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.animate{
    overflow: hidden;
    margin: 20px 0px;
    padding: 30px 0px;
    white-space: nowrap;
}

.animate:hover .animate-slide{
    animation-play-state: paused;
}
.animate-slide{
    display: inline-block;
   animation: 35s slide infinite linear;
}
.animate-slide img{
    height: 40px;
    margin: 0px 40px;
 }

 .container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
 }
.container-left h3{
    padding: 10px;
}
.container-left h2{
    padding: 10px;
}
.container-left h3{
    font-size: 35px;
    color: #333333;
}
.container-left h2{
    font-size: 40px;
}
.container-right{
    display: flex; 
}
.container-right p{
    padding: 15px;
    color: #333333;
    font-weight: bold;
}
.stat-num-style{
    font-size: 35px;
    font-weight: bolder;
}

.parent{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.child-left{
    width: 50%;
    top: 80px;
    position: sticky;
    height: 35rem;
}
.child-left h2{
    padding: 20px;
    font-size: 2.1rem;
    font-weight: bolder;
}
.child-left p{
    padding: 10px 20px;
    font-size: 1.25rem;
    color: #333333;
}

.contact-form-parent{
    padding: 10px 20px;
    display: flex;
    align-content: center;
    justify-content: flex-start;

}

.contact-form-child{
    border-radius: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.outline-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(61, 14, 154);
    z-index: -1;
    border-radius: 20px;
    filter: blur(15px);
}

.elem span{
    padding-bottom: 10px;
}

.child-right{
    padding: 20px;
    width: 50%;
}
.services-style{
    padding: 25px;
    margin: 30px 0px;
    border: 1px solid #333333;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 1px rgb(156, 164, 167);
}
.services-style h3{
    padding: 5px;
    font-size: 1.3rem;
}
.services-style p{
    padding: 5px;
}
.elem input, .elem select{
    width: 90%;
    border-radius: 5px;
    border: navajowhite;
}
.contact-form-child input[placeholder]{
    padding: 1%;
    
}

.contact-form-child .elem{
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.elem label{
    font-size: 1.1rem;
    padding: 2% 2%;
    font-weight: bold;
    color: whitesmoke;

}
.contact-form-child h4{
    font-size: 1.7rem;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: .3rem;
    color: #fff;
}

.buttonspace{
   display: flex;
   justify-content: space-around;
}

.testimonials-section{
    width: 100vw;
    margin: 1.25rem;
}
.testimonial-header{
    text-align: center;
}
.testimonial-header h2
{
    font-size: 2rem;
    padding: 10px;
}
.testimonial-header p{
    padding: 10px;
}
.cards-parent{
    display: flex;
    justify-content: space-around;
}
.cards-child{
    display: flex;
}
.cards-child img{
    height: 3rem;
    margin-right: 10px;
}
.cards-child div{
    height: 3rem;
}
.cards-child span{
    display: block;
}
.cards-child span:nth-child(2){
    color: #333333;
    opacity: 0.8;
}
.cards{
    border: 2px solid #262626;
    border-radius: 20px;
    background-color: #aea1ff;
    width: 30vw;
}
.cards-child p{
    padding: 0.75rem;
}
.cards .cards-child{
    padding: 0.75rem;
    padding-bottom: 0px;
}
 @media screen and (max-width:930px){
    .lan-page-child h1{
        font-size: 50px;
    }
 }

 @media screen and (max-width:900px){
    .container h3{
        font-size: 30px;
    }
    .container h2{
        font-size: 35px;
    }
 }

@media screen and (max-width:750px){
    .logo{
        font-size: 25px;
    }
    .navitem{
        display: none;
    }
    .button{
        display: none;
    }
    .lan-page-child h1{
        font-size: 45px;
    }
    .lan-page-child p{
        font-size: 15px;
    }
    .container h3{
        font-size: 25px;
    }
    .container h2{
        font-size: 30px;
    }
    .stat-num-style{
        font-size: 30px;
    }
    .contact-form-child h4{
        font-size: 1.4rem;
    }
    .child-left h2{
        font-size: 1.9rem;
    }
    .child-left p{
        font-size: 1rem;
    }
    .elem label{
        font-size: 1rem;    
    }
    .services-style h3{
        font-size: 1.1rem;
    }
    .services-style p{
        font-size: 1rem;
    }
}
@media screen and (min-width:750px){
    .menu{
        display: none;
    }
    .sidebar{
        display: none;
    }
}
@media screen and (max-width:510px){
    .logo-img{
        display: none;
    }
    .lan-page-child h1{
        font-size: 35px;
    }
    .lan-page-child p{
        font-size: 14px;
    }
    .lan-page-child{
        top: 10%;
    }
    .container h3{
        font-size: 20px;
    }
    .container h2{
        font-size: 25px;
    }
    .contact-form-child h4{
        font-size: 1.2rem;
    }
    .child-left h2{
        font-size: 1.7rem;
    }
    .child-left p{
        font-size: 0.8rem;
    }
    .elem label{
        font-size: 0.8rem;    
    }
}
@media screen and (max-width:380px){
    .logo{
        font-size: 20px;
    }
    .container-right{
        display: block; 
    }
    .container-right p{
        padding: 2px;
        font-size: 10px;
    }
    .stat-num-style{
        font-size: 25px;
    }
    .parent{
        padding: 20px 0px;
    }
    .contact-form-child h4{
        font-size: 0.8rem;
    }
    .child-left h2{
        font-size: 1.5rem;
    }
    .child-left p{
        font-size: 0.8rem;
    }
    .elem label{
        font-size: 0.6rem;    
    }
}

